*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid {
    width: 1200px;
    height: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: calc(100% / 10);
    height: calc(100% / 10);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border: 1px solid white;
    color: white;
}

.clickedSquare {
    background-color: skyblue;
    color: black;
}

header {
    background-color: black;
}

.header__button {
    text-align: center;
    padding: 25px 0;
}

.btn--primary {
    padding: 10px;
    background-color: greenyellow;
    border: 3px solid white;
    border-radius: 15px;
}

main {
    background-color: green;
}